{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "Rust",
    "languageWorkers:workersDirectory": "workers",
    "SlackCommandToken": "token",
    "BaseUrl": "http://var.show"
  },
  "ConnectionStrings": {
    "AzureWebJobsStorage": "<secret>"
  }
}
